In [25]:
import pandas as pd
import os
from bs4 import BeautifulSoup
from tqdm.auto import tqdm

/Users/chizhia1/Documents/Data Mining Project/venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [28]:
blog_files = [filename for filename in os.listdir('blogs') if filename.endswith('.xml')]
blogs_df = pd.DataFrame(columns=['author_id', 
                                 'sex', 
                                 'age', 
                                 'occupation',
                                 'zodiac_sign',
                                 'post'])

In [29]:
def parse_name(filename):
    idx, sex, age, occupation, sign, _ = filename.split('.')
    return idx, sex, age, occupation, sign


posts_dict = {'author_id': [], 
              'sex': [], 
              'age': [], 
              'occupation': [],
              'zodiac_sign': [],
              'post': []
              }

for filename in tqdm(blog_files):
    author_id, sex, age, occupation, sign = parse_name(filename)
    
    try:
        with open('./blogs/'+filename, 'r', encoding='windows-1251') as f:
            data = f.read()
    except UnicodeDecodeError:
        with open('./blogs/'+filename, 'r', encoding='cp437') as f:
            data = f.read()
    
    bs_data = BeautifulSoup(data, "xml")
    posts = bs_data.find_all('post')

    for post in posts:
        posts_dict['author_id'].append(author_id)
        posts_dict['sex'].append(sex)
        posts_dict['age'].append(age)
        posts_dict['occupation'].append(occupation)
        posts_dict['zodiac_sign'].append(sign)
        posts_dict['post'].append(post.text)

100%|██████████| 19319/19319 [02:17<00:00, 140.06it/s]

In [30]:
posts_df = pd.DataFrame.from_dict(posts_dict)

In [31]:
posts_df.head()

,author_id,sex,age,occupation,zodiac_sign,post
0,4162441,male,16,Student,Sagittarius,\n\n\t \n DESTINY... you might n...
1,4162441,male,16,Student,Sagittarius,\n\n\t \n DEAR ANGEL.. you say it...
2,4162441,male,16,Student,Sagittarius,\n\n\t \n MAIN AUR MERI TANHAI (jagjeet s...
3,4162441,male,16,Student,Sagittarius,\n\n\t \n mail addressrs(s) urlLink http...
4,4162441,male,16,Student,Sagittarius,\n\n\t \n RAP- ALLRISE so stand back caus...

In [32]:
posts_df.tail()

,author_id,sex,age,occupation,zodiac_sign,post
659350,1883213,male,23,Manufacturing,Cancer,\n\n\t \n QUITE SOMETIME Welcome dear re...
659351,1883213,male,23,Manufacturing,Cancer,\n\n\t \n THINGS MORE IMPORTANT THAN LOOK...
659352,1883213,male,23,Manufacturing,Cancer,\n\n\t \n MOVIES ABOUT MOVIE WITH MOVIES ...
659353,1883213,male,23,Manufacturing,Cancer,\n\n\t \n MOVIES ABOUT MOVIE WITH MOVIES ...
659354,1883213,male,23,Manufacturing,Cancer,\n\n\t \n MORGAN WIXSON THEATER Eventua...